<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>New Message</h1>
    <%= render 'form' %>
    <div class="well well-sm" style="margin-top:3rem">
      <strong>About:</strong>
      <p>This just a simple example of real time
        threaded conversations using <a href="https://pusher.com/">Pusher</a>, Rails and React.</p>
      <ol>
        <li>Add your Pusher keys are to secrets.yml</li>
        <li>Pick a unique name for the thread</li>
        <li>In a different window go to //threads/:made_up_thread_uid</li>
        <li>Here create a message and use the thread_uid you just made up, press submit.</li>
        <li>The thread window should update in real time.</li>
      </ol>.
    </div>

  </div>
</div>

